<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{'Chuck Norris Facts' | trans}}</title>
        <meta name="description" content="A simple HTML5 Template for new projects.">
        <meta name="author" content="ass">
        <link href="{{ asset('styles/main.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div id="topnav">
            <div id="title">{{'Chuck Norris Facts' | trans}}</div>
            <label for="searchBar"></label><input type="text" id="searchBar" placeholder={{'Search any words...' | trans}}>
            <button id="searchButton">{{'Search' | trans}}</button>
            <button id="randomButton">{{'Give me a random fact!' | trans}}</button>
            <ul><li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.request.locale|locale_name(app.request.locale)|u.title  }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                    <a class="dropdown-item" href="{{ path('homepage', {_locale: 'en'}) }}">English</a>
                    <a class="dropdown-item" href="{{ path('homepage', {_locale: 'es'}) }}">Español</a>
                </div>
            </li></ul>
        </div>
        <div id="categoryList"></div>
        <div id="resultBox"></div>
        <div id="paginationBox">
        </div>
        <div id="mailBox">
            <label for="mailBar"></label><input type="text" id="mailBar" placeholder={{'Input your email...' | trans}}>
            <button id="mailButton">{{'Send this page to my mail!' | trans}}</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('scripts/main.js') }}"></script>
    </body>
</html>